<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to My Pantry, <%= user.username %>!</h1>

  <h2>Your Pantry Items:</h2>
  <ul>
    <% if (pantry.length > 0) { %>
      <% pantry.forEach((item) => { %>
        <li>
          <%= item.name %>
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    <% } else { %>
      <p>There are no items in your pantry.</p>
    <% } %>
  </ul>
  
  <a href="/users/<%= user._id %>/foods/new">Add New Item</a> <!-- Link to add new item -->
</body>
</html>
